<div class="container">
  <div class="row">
    <div class="col-5 m-auto">
      <h1 class="bg-danger">Todo App</h1>
      <div class="input-group my-3">
        <input (keyup.enter)="addItem(inputTask.value); inputTask.value =''" type="text" #inputTask class="form-control" placeholder="I should do that...." aria-label="Recipient's username" aria-describedby="button-addon2">
        <button (click)="addItem(inputTask.value); inputTask.value =''" class="btn btn-danger" type="button" id="button-addon2">Add Task</button>
      </div>
      <div class="form-check mb-3">
        <input [(ngModel)]="displayAll" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Display All
        </label>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Index</th>
            <th>Description</th>
            <th></th>
            <th>Completed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItems(); let i =index">
            <td>{{i}} </td>
            <td>{{item.description}}</td>
            <td>
              <div class="form-check">
                <input [(ngModel)]="item.completed" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                
              </div>
            </td>
            <td>{{item.completed}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>